langchain==1.3.11
langgraph
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

transformers
huggingface-hub
sentence-transformers

streamlit

python-dotenv

requests

pydantic

typing_extensions

httpx

cachetools

python-json-logger